* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #4D47CC;

}

button:hover {
    cursor: pointer;
}

.container {
    margin: 10px auto;
    height: 500px;
    width: 320px;
    border: 1px white solid;
    border-radius: 15px;
    background: white;
}

#car {
    color: black;
}

#correct {
    color: #16FF25;
}

#wrong {
    color: red;
}

button {
    border: 1px solid #FFDAB3;
    font-weight: ;
    border-radius: 10px;
    color: black;
    background: #FFDAB3;
}

.status {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}



#quiz-homepage, #results {
    margin-top: 100px;
}

.feedback-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#quiz-homepage, .feedback-container, #results {
    text-align: center;
 }

.question-num, .score {
    padding: 8px;
    border: 1px #72B5FF solid;
    border-radius: 12px;
    background: #72B5FF;
}

.question-container, .feedback-container, #results {
    margin: 10px;
}

form fieldset {
    border: 0px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

form button {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.question-image {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

 .answer-choice {    
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    
}

.results-image {
    height: 200px;
}

.material-icons {
    font-size: 100px;
    color: grey;
}

.quiz-begin {
    display: block;
    
}