* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
}

.container {
    margin: 200px auto;
    height: 500px;
    width: 500px;
    border: 2px gray solid;
}

#quiz-homepage, #answer-feedback {
   text-align: center;
}

.status {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.question-num, .score {
    padding: 5px;
    border: 1px gray solid;
}

.question-container {
    margin: 100px 50px;
}

.answer-options {
    display: flex;
    align-items: left;
    flex-direction: column;
}

 .answer-choice {    
    padding: 10px;
    /*border: 1px solid black;*/
    margin-top: 10px;
    
}

.material-icons {
    font-size: 200px;
    color: grey;
}

